.container_breads {
  position: relative;
  width: 100%;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--spacing-medium) var(--spacing-medium) var(--font-size-xxlarge) var(--spacing-medium);
  /* background-color: tomato; */
}

.container_breads .slider_breads .slick-track {
  display: flex !important; 
  flex-direction: row;
  gap: 20px;
  margin-left: 0; 
  margin-right: 0;
}

.slider_breads {
  width: 100vw;
  transform: translateX(calc(var(--spacing-medium) * -1));
  padding: var(--spacing-small) var(--spacing-0);
}

.slider_breads .slider {
  position: relative;
  z-index: 1;
}

.slider{
  height: 120px;
}

.slider_breads .slider::before {
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--areia-light);
  z-index: -1;
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.header_breads {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: 0 var(--spacing-medium);
}

.header_breads_title {
  font-family: 'Halogen';
  font-size: var(--font-size-xlarge);
  line-height: 1;
  font-weight: 300;
  color: var(--brown-darker);
  position: relative;
  z-index: 1;
}

.header_breads_title::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 80px;
  width: 80px;
  background: url(../../assets/selo_produto_natural_areia.svg
  ) no-repeat center;
  background-size: contain;
  transform: translateY(-40%);
}

.header_breads_subtitle, .info_breads {
  padding-top: var(--gap);
  font-family: 'MacklinText';
  font-size: var(--font-size-small);
  font-weight:500;
  color: var(--brown-darker);
  line-height: 1.5;
}

.info_breads {
  padding: 0 var(--spacing-medium);
}

.bread_highlight_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(4px 4px 6px var(--brown-dark));
}

.slider_title {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--terracota-darker);
  font-weight:700;
}

/* .info_breads {
  font-size: var(--font-size-small);
  color: var(--terracota-darker);
  font-weight:600;
  line-height: 1.5;
} */

@media (min-width: 1024px) {

  .container_breads {
    position: relative;
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding: var(--spacing-medium) var(--spacing-medium) var(--font-size-xxlarge) var(--spacing-medium);
    /* background-color: tomato; */
    /* margin-left: 40vw;
    width: 60vw; */
    overflow: hidden;
    z-index: 99;
  }

}