.hero_welcome {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3rem 4rem;
  position: relative;
  background: #F9F3EA url('../../assets/texture.png') repeat center;
  /* background: #F9F3EA url('../../assets/texture.png') repeat center; */
}

.hero_welcome::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  z-index: 1;
  background: url(../../assets/texture_areia_original.svg) no-repeat center;
  transform: translateY(-55%);
} 

.hero_welcome_title{
  /* font-family: var(--font-title-primary); */
  font-family: 'Halogen';
  font-size: 3rem;
  color: #707070;
  line-height: 1.2;
  width: 100%;
  flex-grow: 0.5;
  font-weight: 100;
  z-index: 2;
}

.hero_welcome_subtitle{
  font-family: 'MacklinText';
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: #707070;
  z-index: 2;
}