.container_lunch {
  position: relative;
  z-index: 1;
  padding: var(--spacing-large) var(--spacing-medium);
}

.container_lunch_card{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  background: var(--areia-light);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
}

.header_lunch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: var(--gap);
}

.header_lunch_title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  font-family: 'Halogen';
  font-size: var(--font-size-large);
  line-height: 1;
  font-weight:900 ;
  color: var(--brown-darker);
}

.header_lunch_dish_photo {
  height: 100%;
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

.header_lunch_dish_photo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(10px 10px 15px var(--terracota-darker));
}

.header_lunch_hours {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  font-family: 'Halogen';
  font-size: var(--font-size-medium);
  color: var(--brown-darker);
}

.payment_info {
  font-family: 'MacklinText';
  font-size: var(--font-size-small);
  color: var(--brown-darker);
  font-weight:500 ;
  line-height: 1.5;
}