.container_events {
  position: relative;
  z-index: 1;
  padding: var(--spacing-0) var(--spacing-medium) var(--spacing-large) var(--spacing-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow: hidden;
  padding-top: var(--gap);
}

.header_events{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 var(--spacing-medium);
  z-index: 2;
}

.header_events_title {
  font-family: 'Halogen';
  font-size: var(--font-size-xlarge);
  line-height: 1;
  font-weight: 300;
  color: var(--terracota-darker);
}

.events_info {
  padding: 0 var(--spacing-medium);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding-top: var(--spacing-medium);
}

.events {
  font-family: 'MacklinText';
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--brown-darker);
  line-height: 1.5;
}

.container_events_img{
  height: calc(100vw - 4rem);
  background-color: var(--areia-dark);
  overflow: hidden;
}

.container_events_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}