.container_lunch {
  position: relative;
  z-index: 1;
  padding: var(--spacing-large) var(--spacing-medium);
  width: 100%;
  /*height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}

.container_lunch_card{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
  background: var(--areia-light);
  /* background: linear-gradient(180deg, var(--areia-light) 0%, #f7e5d4 100%); */
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding-top: 220px;
  
/* esse padding-top é pra empurra o conteudo */
/* a foto é posicionada absoutametne */
}

.header_lunch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap:var(--gap);
  grid-row-gap: var(--spacing-small);
  /* border: solid tomato; */
}

.header_lunch_title {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  font-family: 'Halogen';
  font-size: var(--font-size-large);
  line-height: 1;
  font-weight:900 ;
  color: var(--brown-darker);


}


/* fotografia */
.header_lunch_dish_photo {
  height: 200px;
  width: 100%;
  position: relative;
  /* grid-column: 2 / 3;
  grid-row: 1 / 3; */
  position: absolute;

  left: 0;
  top: 0;
  z-index: 1;
}

.header_lunch_dish_photo::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient( to bottom, rgba(239, 235, 227, 0) 0%, var(--areia-light) 100% );
}

.header_lunch_dish_photo img {
  width: 100%;
  display: block;
  object-fit: cover;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 0, 0, 0)
  );
}

.header_lunch_hours {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  font-family: 'Halogen';
  font-size: var(--font-size-medium);
  color: var(--brown-darker);
}


.lunch_footer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

  /* border: solid turquoise; */
}


.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 28px 20px 32px; */
  gap: 20px;
  /* border: solid green ; */
}

.features_destaque {
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--terracota-darker);
  font-weight: 700;
}

.feature_item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  text-align: center;
}

.icon_circle {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);

  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid; */
  /* border-color: #cbad8e5c; */
}

.icon_cafe {
  width: 50%;
  height: 50%;
}

.icon_pao {
  width: 60%;
  height: 60%;
}

.feature_item span {
  font-weight: 700;
  color: #6a3f2c;
  line-height: 1.3;
}

.divider {
  width: 1px;
  height: 120px;
  background: #8b5a44;
}

@media (min-width: 1024px) {
  .container_lunch{
    margin-left: 50vw;
    width: 50vw;
    padding: var(--spacing-large) 5vw;
  }

  .header_lunch_dish_photo {
    height: 20vh;
    width: 100%;
  }
}