.container_header{
  position: fixed;
  width: 100%;
  height: var(--heder-height);
  z-index: 3;
  background-color: var(--nav);
  padding: 0 20px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  

  border: solid lime;
}

/* É o container do menu e da logo quando em desktop somente a logo esta aqui */
.nav_header {
  border: solid tomato;
  height: 100%;
  width: max-content;
  display: flex;
  flex-direction: row;
}

.logo{
  width: 174px;
  height: 44px;
  text-indent: -1000%;
  background: url('../../assets/furtini-logo2.svg') no-repeat center;
  background-size: contain;
}

/* so aparece no desktop */
.hamburger {
  background-color: var(--brown-dark);
  position: absolute;
  right: 20px;
  top: calc(var(--heder-height) / 2);
  transform: translateY(-50%);
}


.container_sidebar_mobile  {
  background-color: tomato;
  position: absolute;
  left: 0;
  top: 0;
}

.container_sidebar_desktop {
  background-color: violet;
  width: 100%;
}

.container_sidebar_desktop ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}


@media (min-width: 1024px) {
  .container_header {
    padding: 0 15vw;
  }
}