.container_header{
  width: 100%;
  height: var(--heder-height);
  position: fixed;
  z-index: 3;
  background-color: var(--nav);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  transition: height 0.3s ease-in-out;
}

.container_header.scrolled {
  height: 50px;
}

/* .nav_frutini{
  display: none;
} */

.logo_frutini{
  width: 174px;
  height: 44px;
  overflow: hidden;
  text-indent: -1000%;
  background: url('../../assets/furtini-logo2.svg') no-repeat center;
  background-size: contain;
  transition: background 0.3s ease-in-out;
}

.logo_frutini.scrolled {
  background: url('../../assets/furtini-logo_reduzida.svg') no-repeat center; /* Nova imagem */
  background-size: contain;
}