.container_highlight2 {
  position: relative;
  min-height: 16rem;
  /* padding: 2rem 0; */
  z-index: 1;
  padding: var(--spacing-large) 5vw;
}

.container_highlight2::before {
  content: "";
  width: 100vw;
  height: 100%;
  background: var(--areia-light);
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-2rem, 50%);
  z-index: -1;
}

.container_highlight2 .slick-track {
  display: flex !important; 
  flex-direction: row;
  /* gap: 20px; */
  margin-left: 0; 
  margin-right: 0;
}

.container_highlight2 .slider {
  width: 100%;
  height: calc(100vw - 4rem);
  background-color: var(--areia-dark);
  overflow: hidden;
  /* border-radius: var(--border-radius-medium); */
}

.container_highlight2 .highlight_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .container_address {
    padding: var(--spacing-large) 5vw;
  }

  .container_highlight2 .slider {
    height: calc(30vw - 4rem);
    background-color: var(--areia-dark);
  }
}