.container_videoBg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container_videoBg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url('../../assets/videos/video_lunch.png') center center/cover no-repeat;
}