.container {
  position: relative;
  z-index: 1;
  padding: var(--spacing-0) var(--spacing-medium) var(--spacing-large) var(--spacing-medium);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  overflow: hidden;
  padding-top: var(--gap);
}

.container_img{
  height: calc(100vw - 4rem);
  background-color: var(--areia-dark);
  overflow: hidden;
}

.container_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 /* vou tirar isso pq deve ficar no geral  */
}

.header{
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 0 var(--spacing-medium);
  z-index: 2;
}

.header_title {
  font-family: 'Halogen';
  font-size: var(--font-size-xlarge);
  line-height: 1;
  font-weight: 300;
  color: var(--terracota-darker);
}

.header_subtitle{
  padding-top: var(--gap);
}

.container_content {
  padding: 0 var(--spacing-medium);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  padding-top: var(--spacing-medium);
}

.content, .header_subtitle {
  font-family: 'MacklinText';
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--brown-darker);
  line-height: 2;

  /* background: violet; */
  width: 70ch;  /* Ajusta a largura para no máximo 75 caracteres */
  max-width: 100%;
}

@media (min-width: 1024px) {
  .container {
    width: 50vw;
    left: 50vw;
    padding: var(--spacing-large) 5vw; 
  }

  .container_img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
}