.container-hero {
  padding-top: 7.5rem;
  position: relative;
  z-index: 2;
}

/* #highlights {
  border: solid tomato;
}

#lunch {
  border: solid violet;
}

#breads {
  border: solid olive;
}

#history {
  border: solid slateblue;
} */