.container-hero {
  padding-top: calc(var(--heder-height) / 2);
  position: relative;
  z-index: 2;
}

.tijolo {
  height: 50vh;
}

.slick-slide {
  padding: 0 10px;
}
/* .slick-list {
  margin: 0 -10px;
} */