@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --font-title-primary: 'Kalnia', serif;

  --spacing-0: 0; /*usando */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
  --spacing-xlarge: 4rem;
  --spacing-xxlarge: 5rem;

  --brown-darker: #453B30;
  --brown-dark: #716656;
  --nav: #c9a785;

  --terracota-darker: #5C3825;
  --terracota-dark: #995D3E;
  --terracota-original: #CC7C53;
  --terracota-light: #F7DBC2;
  --areia-darker: #676554;
  --areia-dark: #ADA88C;
  --areia-original: #E6E0BA;
  --areia-light: #F7F5EA;

  --heder-height: 7.5rem;

  --font-size-small: 1.4rem;
  --font-size-medium: 1.8rem;
  --font-size-large: 2.2rem;
  --font-size-xlarge: 2.6rem;
  --font-size-xxlarge: 3rem;

  --gap: 1.6rem;
  --border-radius-medium: 0.8rem;

  width: 100vw;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
  /* color: var(--primary_color);
  font-weight: 300;
  line-height: 1.7; */
}

body {
  color: var(--color-dark);
  /* font-size: 1.4rem;
  line-height: 1.4; */
  overflow-x: hidden;
  line-height: 1.4;
}

body::-webkit-scrollbar {
  width: 0; /* Esconde a barra de rolagem */
  background: transparent; /* Esconde a barra de rolagem */
}


/* p { font-size: 1.6rem;} */



@media only screen and (min-width: 1024px) {
  .app_title {
    font-size: 5vw;
  }
}