@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@700&family=Lato:wght@300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --font-title-primary: 'Kalnia', serif;
  --color-title-primary: #f7c130;
  --color-text-primary: #ffffff;
  --color-highlight: #ff6347;
  --color-dark: #030c1a;
  --color-light-gray : #ffffffb3;
  --color-medium-gray: #4B4B4B;
  --color-hard-gray: #353535;
  
  background-color: var(--);;
  --video-width-desktop: 55vw;

  width: 100vw;
  max-width: 100%;
}

html {
  font-size: 62.5%;
  font-family: "Titillium Web", sans-serif;
  color: var(--primary_color);
  font-weight: 300;
  line-height: 1.7;
}

body {
  color: var(--color-dark);
  font-size: 1.4rem;
  line-height: 1.4;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0; /* Esconde a barra de rolagem */
  background: transparent; /* Esconde a barra de rolagem */
}

.app_title {
  /* font-family: var(--font-title-primary); */
  font-family: 'Halogen';
  font-size: 2.6rem;
  color: #707070;
  line-height: 1.2;
  margin-bottom: 20px;
  /* padding: 20px 50px 0 50px; */
  width: 100%;
  flex-grow: 0.5;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

.app_title_subtitle{
  font-family: 'MacklinText';
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  color: #707070;
}

.hero_fase {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
  padding: 3rem 4rem;
  background: #F9F3EA url('./assets/texture.png') repeat center center;
}

p { font-size: 1.6rem;}



@media only screen and (min-width: 1024px) {
  .app_title {
    font-size: 5vw;
  }
}